/* vista login */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .body-img{
      width: 100vw;
      height: 100vh;
      background-image: url('../assets/images/fondo.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center bottom
  }
  
  .logo a {
      height: 140px;
      width: 140px;
      display: block;
      background-color: rgb(0, 231, 119);
      z-index: 1;
      border-radius: 32%;
      text-align: center;
      line-height: 140px;
      font-size: 90px;
      color: rgb(255, 255, 255);
      transform: rotate(45deg);
      top: 123px;
    }
    
    .logo span {
      transform: rotate(-45deg);
      display: inline-block;
    }
  
    .logo{
      margin-top: 123px;
    }
  
    .title {
      text-align: center;
      color: #fff;
      font-family: 'Roboto', sans-serif; 
    }
  
    .title h4 {
      font-size: 48px;
      margin-bottom: 34px;
      font-weight: 700;
    }
  
    .title h4 span {
      color: #00e777;
    }
  
    .align{
      text-align: center;
    }
  
    .back-green {
      margin-top: 20%;
      background-color: #00E777;
      border-color: #0BDA76;
    }
  
    /* vista profile */
    .green{
      background: rgb(0, 231, 119) !important;
    }
    
    img{
      width: 95vw;
    }
    
    header nav{
      margin-right: 0;
    }
    
    .tab-menu-holder {
      background: rgb(0, 231, 119);
      width: 100%;
      position: fixed;
      bottom: 0;
      left: 0;
      color: #fff;
      padding: 10px;
      z-index: 9999999;
    }
    .tab-menu-holder  ul {
        text-align: center;
        width: 100%;
        margin: 0 !important;
        padding: 0 !important;
    }
    .tab-menu-holder   li {
          list-style: none;
          display: inline;
          padding: 10px 15px;
          margin: 0 10px;
          color: rgba(255, 255, 255, 0.9);
          font-size: 20px;
    }
  
    .portada{
      height: 180px;
      position: relative;
      /* box-shadow: 1px 1px 4px rgba(0,0,0,0.5); */
      background-image: url(../assets/images/portada.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center bottom;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  
    .profile-banner {
      overflow: hidden;
      position: absolute;
    }
  
    .profile-stats ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  
    .profile-stats{
      padding: 15px;
      background: #12AFAF;
      overflow: auto;
    }
  
    .margin-bottom{
      margin-bottom: 0;
    }
  
    .profile-stats ul li {
      color:#fff;
      display: block;
      float: left;
      font-size: 18px;
      font-weight: bold;
      margin-right: 40px;
      text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
      text-align: center;
    }
    
    .profile-stats li span {
      display: block;
      font-size: 16px;
      font-weight: normal;
    }
    
    .follow {
      background-color:#EE754D;
      text-decoration: none;
      padding: 8px 15px;
      border-radius: 10px;
      color:#fff;
      display: block;
      float: right;
      font-family: 'Roboto', sans-serif; 
      font-weight: 700;
      font-size: 18px;
    }
    
    .followed {
      background-color:#66C8C6;
    }
    .name {
      padding: 10px;
      font-size: 1.5rem;
      color: #fff;
      text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
    }
  
    .photo-user{
      width: 100%;
      height: 100%;
    }