<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Search</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
  <link rel="stylesheet" href="../css/newsfeed.css">
</head>

<body>
  <header>
    <nav>
      <div class="nav-wrapper green">
        <a href="#!" class="brand-logo">Traveller</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse">
          <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
          <li>
            <a href="">Friends</a>
          </li>
          <li>
            <a href="">Pets</a>
          </li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li>
            <a href="">Friends</a>
          </li>
          <li>
            <a href="">Pets</a>
          </li>
        </ul>
        <a href="profile.html" class="btn-floating btn-large halfway-fab waves-effect waves-light teal">
          <!-- <div class="green"></div> -->
          <img src="" alt="" id="foto" class="photo-user">
        </a>
      </div>
    </nav>
  </header>
  <main>
    <div class="container">
      <div class="row">
        <div class="col s12">
          <div class="input-field col s12">
            <textarea id="textarea1" class="materialize-textarea"></textarea>
            <label for="textarea1">Post you experiences!</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <form action="#">
            <div class="file-field file-path-wrapper">
              <div class="btn">
                <span>
                  <i class="material-icons">image</i>
                </span>
                <input class="btn" type="file" value="upload" id="fileButton" />
              </div>
              <button id="postButton" class="btn waves-effect waves-light right" type="submit" name="action" disabled>Post
              </button>
            </div>
          </form>
        </div>
      </div>
      <div id="publicaciones">

      </div>
      <!-- <div class="row">
        <div class="col s 12">
          <img src="" alt="" id="agrego" class="pi">
        </div>
      </div> -->
    </div>
  </main>
  <!-- <nav> -->
  <div class="tab-menu-holder">
    <ul>
      <li class="tab-item-btn active">
        <a style="color:white" href="newsfeed.html">
          <i class="material-icons">public</i>
        </a>

      </li>
      <li class="tab-item-btn">
        <a style="color:white" href="search.html">
          <i class="material-icons">search</i>
        </a>
      </li>
      <li class="tab-item-btn">
        <a style="color:white" href="notifications.html">
          <i class="material-icons">notifications</i>
        </a>
      </li>
      <li class="tab-item-btn">
        <a style="color:white" href="notifications.html">
          <i class="material-icons">chat</i>
        </a>
      </li>
    </ul>
  </div>
  <!-- </nav>	 -->
  <script src="../vendors/js/jquery-3.2.1.min.js"></script>
  <script src="../vendors/materialize/js/materialize.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
  <script src="../js/newsfeed.js"></script>
</body>

</html>