<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pets</title>
  <link rel="shortcut icon" type="image/x-icon" href="../assets/favicon/6314traveller.ico">
  <link href="https://fonts.googleapis.com/css?family=Delius" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
  <link rel="stylesheet" href="../css/main.css">
</head>

<body>
  <header>
    <nav>
      <div class="nav-wrapper green">
        <a href="#!" class="brand-logo">Traveller</a>
      </div>
    </nav>
  </header>
  <main>
    <div class="container pets">
      <div class="row">
        <div class="col s6">
          <h3 class="center-align pets">We take care of your pets</h3>
        </div>
        <div class="col s6 inline-block">
          <i class="large material-icons valign-wrapper center-align">pets</i>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
              <img src="../assets/images/gato.jpg">
              <span class="card-title">Cats</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red">
                <i class="material-icons">add</i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
              <img src="../assets/images/perro.jpg">
              <span class="card-title">Dogs</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red">
                <i class="material-icons">add</i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
              <img src="../assets/images/aves.jpg">
              <span class="card-title">Birds</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red">
                <i class="material-icons">add</i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
              <img src="../assets/images/conejo.jpg">
              <span class="card-title">Rabbits</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red">
                <i class="material-icons">add</i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
              <img src="../assets/images/tortuga.jpg">
              <span class="card-title">Turtles</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red">
                <i class="material-icons">add</i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script src="../vendors/js/jquery-3.2.1.min.js"></script>
  <script src="../vendors/materialize/js/materialize.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
  <script src="../js/pets.js"></script>
</body>

</html>