<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Profile</title>
  <link rel="shortcut icon" type="image/x-icon" href="../assets/favicon/6314traveller.ico">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
  <link rel="stylesheet" href="../css/main.css">
</head>

<body>
  <header>
    <nav>
      <div class="nav-wrapper green">
        <a href="#!" class="brand-logo">Traveller</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse">
          <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
          <li>
            <a href="">Friends</a>
          </li>
          <li>
            <a href="">Pets</a>
          </li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li>
            <a href="">Friends</a>
          </li>
          <li>
            <a href="">Pets</a>
          </li>
        </ul>
        <a class="btn-floating btn-large halfway-fab waves-effect waves-light teal">
          <!-- <div class="green"></div> -->
          <img src="" alt="" id="foto" class="photo-user">
        </a>
      </div>
    </nav>
  </header>
  <main>
    <section>
      <div class="portada">
        <figure class="profile-banner"></figure>
        <p class="name" id="name-user"></p>
      </div>
      <div class="profile-stats">
        <ul>
          <li>
            <span>13</span>
            <span>Followins</span>
          </li>
          <li>
            <span id="seguidores"></span>
            <span>Followers</span>
          </li>
        </ul>
        <a class="follow" id="follow">Follow</a>
      </div>
    </section>
  </main>
  <!-- <nav> -->
  <div class="tab-menu-holder">
    <ul>
      <li class="tab-item-btn active">
        <i class="material-icons">public</i>
      </li>
      <li class="tab-item-btn">
        <i class="material-icons">search</i>
      </li>
      <li class="tab-item-btn">
        <i class="material-icons">notifications</i>
      </li>
      <li class="tab-item-btn">
        <i class="material-icons">chat</i>
      </li>
    </ul>
  </div>
  <!-- </nav>	 -->
  <script src="../vendors/js/jquery-3.2.1.min.js"></script>
  <script src="../vendors/materialize/js/materialize.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
  <script src="../js/profile.js"></script>
</body>

</html>